.container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  gap: 1rem;
  & h4 {
    font-size: 24px;
  }
}

.buttons {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  & button {
    cursor: pointer;
    background-color: cornflowerblue;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
    outline: none;
    &:hover {
      opacity: 0.7;
    }
  }
}

.main {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.playlist {
  width: 34%;
  height: 35vw;
}

.video {
  width: 65%;
}
